*{
    margin: 0;
    padding: 0;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin: 50px;
   
}
.review-order{
    padding: 12px 55px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: #FF9900;
    color: white;
}
.review-order:hover{
    background-color: #eb8e02;
}
