.review-container{
    margin: 50px auto;
    display: grid;
    gap: 20px;
}

.proceed-btn{
    padding: 12px 34%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    background-color: #FF9900;
    color: white; 
}
.proceed-btn:hover{
    background-color: #eb8e02;
}